*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blau: #004e97;
    --grana: #9a1f47;
    --lighter-red: #ad677f;
}

body{
    background-color: black;
    height: 100vh;
}

/* GENERAL */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    border: none;
    font-size: 4.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

button:hover{
    background-color: rgba(255,255,255,0.2);
}

.active{
    animation: full-size 1s ease-in-out forwards;
}

@keyframes full-size {
    100%{
        height: 100vh;
    }
}

.collapse{
    animation: disappear 1s ease-in-out forwards;
}

@keyframes disappear {
    100%{
        height: 0vh;
    }    
}

.d-none{
    display: none;
}
/* MAIL SECTION */

#mail{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: var(--blau);
}

#mail button{
    color: var(--grana);
}

#mail .mailInput{
    width: 25%;
    font-size: 2.5rem;
    margin: 0 10px;
    border-radius: 10px;
    padding: 5px;
}

#mail .searchMail{
    background-color: wheat;
    font-size: 2rem;
    color: var(--blau);
}

#mail .outcome{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(0, -50%);
    opacity: 0;
    animation: result 1s ease-out forwards;
}

#mail .outcome i{
    font-size: 5rem;
}

@keyframes result {
    100%{
        opacity: 1;
    }
}
/* DICE SECTION */

#dice{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: var(--grana);
}

#dice button{
    color: var(--blau);
}

#dice .number{
    border: 3px solid var(--blau);
    height: 5vw;
    width: 5vw;
    border-radius: 15px;
    margin: 0 30px;
    font-size: 3rem;
    color: white;
    text-align: center;
    line-height: 5vw;
}

#dice .throwDice{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,0);
    background-color: var(--lighter-red);
    font-size: 1.5rem;
    border: 1px solid white;
}

#dice .winner{
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    font-size: 3rem;
}